/* CONFIGURAÇÕES GLOBAIS */
@font-face {
  font-family: "Metropolis-Bold";
  src: url(/Fontes/Metropolis/Metropolis-Bold.otf);
}
@font-face {
  font-family: "Metropolis-Medium";
  src: url(/Fontes/Metropolis/Metropolis-Medium.otf);
}
body{
  /* background-color: rgb(29, 29, 29); */
  width: 100vw;
  font-family: Metropolis-Medium, sans-serif;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* MENU */
.menu{
  background-color: rgb(29, 29, 29);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.menu-lista{
  display: flex;
  gap: 50px;
  font-size: 24px;
  list-style: none;
}
.menu-item-link{
  text-decoration: none;
  color: rgba(225, 225, 225, 0.952);
}
.logomarca-reduzida{
  height: 100px;
}
.lupa{
  height: 50px;
}
/* SLIDER */
/* Estilos CSS atualizados para o slide de imagens */
.slide {
  width: 100%;
  height: 400px; /* Defina a altura desejada para o slide */
  overflow: hidden;
  background-color: #767676;
  
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide-item {
  flex: 0 0 100%;
}

.slide-item img {
  width: 100%;
  height: 350px;
}

.slider-controls {
  margin-top: 10px;
  text-align: center;
}

.slider-controls button {
  background-color: #ccc;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.slider-controls button.active {
  background-color: #555;
  color: #fff;
}
.prev-btn,.next-btn{
  display: none;
}
/* IMAGEM E TEXTO SOBRE */
.sessao-titulo{
  background-color: #d0d0d0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulo-sobre{
  text-align: center;
  margin: 0;
}
.descrição-sobre{
  display: flex;
  justify-content: space-evenly;
  height: 600px;
  background-color: #d0d0d0;
  font-size: 24px;
  font-family: Metropolis-Medium, sans-serif;
  line-height: 32px;
}
.texto-descritivo{
  color: black;
}
.imagem-sobre{
  height: 200px;
  width: 50vw;
}
.logo-tipografica-sobre{
  height: 200px;
}
.sessao-descricao{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sessao-imagem-sobre{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* RESPONSIVIDADE */

/* Estilos para dispositivos móveis (até 390px de largura, iPhone 12) */
@media (max-width: 390px) {
  /* Aplique as modificações de estilo aqui */
  .menu {
    height: 80px;
    padding: 0 5px;
  }

  .menu-lista {
    font-size: 18px;
  }

  .logomarca-reduzida {
    height: 80px;
  }

  .lupa {
    height: 40px;
  }

  .slide {
    height: 300px;
  }

  .slide-item img {
    height: 250px;
  }

  .slider-controls {
    margin-top: 5px;
  }

  .slider-controls button {
    padding: 3px 8px;
  }
}
